.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  flex-direction: column;
}

.card {
  max-width: 28rem;
  width: 100%;
  padding: 2rem;
  background-color: #000;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.error {
  color: #ef4444;
  background-color: #fee2e2;
  border: 1px solid #ef4444;
  padding: 0.75rem;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  text-align: center;
}

.form {
  display: grid;
  gap: 1.5rem;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #cfcfcf;
}

.input {
  margin-top: 0.25rem;
  display: block;
  width: 100%;
  border-radius: 0.375rem;
  border: none;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  padding: 0.5rem 0.75rem;
  color: #000;
}

.input::placeholder {
  color: #a3a3a3;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

.button {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}

.loginButton {
  background-color: #3b82f6;
  color: white;
}

.loginButton:hover {
  background-color: #2563eb;
}

.signupButton {
  background-color: #6b7280;
  color: white;
}

.signupButton:hover {
  background-color: #4b5563;
}

.passwordReset {
  width: 100%;
  font-size: 0.875rem;
  color: #6b7280;
  margin-left: 110vw;
  cursor: pointer;
}

.passwordReset:hover {
  color: #4b5563;
}
