.rootContainer {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.contentWrapper {
  position: relative;
  background: linear-gradient(135deg, #ff9a56 0%, #ff6b95 100%);
  z-index: 1;
  min-height: 100vh;
}
