.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--background);
  color: var(--foreground);
  position: relative;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: var(--foreground);
}

.logo a:hover {
  color: #fff;
  background: #0a0a0a;
}

.nav {
  display: flex;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0 2rem;
  padding: 0;
  gap: 1.5rem;
}

.nav li a {
  text-decoration: none;
  color: var(--foreground);
}

.nav li a:hover {
  color: #fff;
  background: #0a0a0a;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.hamburger p {
  margin: 4px 0;
  width: var(--hamburger-bar-width, 100%);
  height: 2px;
  border-radius: 2px;
  background-color: black;
}

.hamburger p:nth-child(1) {
  --hamburger-bar-width: 100%;
}
.hamburger p:nth-child(2) {
  --hamburger-bar-width: 100%;
}
.hamburger p:nth-child(3) {
  --hamburger-bar-width: 100%;
}

.drawerMenu {
  position: fixed;
  font-size: 1.5rem;
  top: 7vh;
  right: -100%;
  width: 70vw;
  max-width: 200px;
  height: calc(100vh - 7vh);
  background-color: var(--background);
  transition: right 0.5s ease;
  z-index: 1100;
}

.drawerOpen {
  right: 0;
}

.button {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: auto;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  border: 2px solid #0a0a0a;
  color: #0a0a0a;
  transition: 0.5s;
  font-size: 1rem;
}

.button:hover {
  color: #fff;
  background: #0a0a0a;
}
