.container {
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 26px;
  font-weight: 500;
  font-family: Outfit, var(--mantine-font-family);
}

.controls {
  @media (max-width: 480px) {
    flex-direction: column-reverse;
  }
}

.control {
  @media (max-width: 480px) {
    width: 100%;
    text-align: center;
  }
}
